services:
  my-docs:
    image: node
    entrypoint: sh docker-entrypoint.sh
    restart: always
    user: ${UID:-1000}:${GID:-1000}
    ports:
      - ${PORT:-3000}:${PORT:-3000}
    environment:
      PORT: ${PORT:-3000}
    volumes:
      - ${PWD}:${PWD}
    working_dir: ${PWD}
